
@{
    ViewData["Title"] = "ReadConfig";
}

<h1>ReadConfig</h1>

<h1>@ViewBag.Message</h1>
<h3>@ViewBag.Config1</h3>
<h3>@ViewBag.Config2</h3>
<h3>@ViewBag.Config3</h3>

<h2>@ViewBag.ConnectionString</h2>
